@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,html {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #000;
    height: 100px;
    color: #fff;
}

* {
    box-sizing: border-box;
}

button a {
    text-decoration: none;
    cursor: pointer;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 69px;
    background-color: black;
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1,
.btn-2 {
    font-weight: 700;
    fill: #000001;
    color: #000001;
    background-color: #95DD4C;
    border-radius: 28px 28px 28px 28px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.free-trial-btn {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000407;
    text-decoration: none;
    background-color: #95DD4C;
    border-radius: 25px 25px 25px 25px;
    padding: 15px 70px 15px 70px;

}

.devices img {
    margin: 30px;
}

.free-trial {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000407;
    background-color: #95DD4C;
    border-radius: 25px 25px 25px 25px;
    padding: 15px 70px 15px 70px;
}

.container {
    background-color: transparent;
    background-image: linear-gradient(180deg, #000000B8 0%, #000000 100%), url('images/image-10-min.jpeg');
    opacity: 1;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.color-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    color: #E7E7E7;
    font-family: "Inter", Sans-serif;
    font-size: 60px;
    font-weight: 900;
}

.hero p {
    margin-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}


.features {
    display: flex;
}

.feature {
    margin: 0 50px 50px;
    text-align: center;
    margin-bottom: 140px;
}

.feature img {
    height: 50px;
    width: 50px;
}

.pricing {
    text-align: center;
}

.pricing-plans {
    display: flex;
    justify-content: space-evenly;
}

.plan {
    background-color: #1a1a1a;
    border-radius: 40px;
    padding: 50px;
}

.plan.popular {
    border: 2px solid #4CAF50;
}

.plan h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.plan .popular {
    margin-top: 10px;
    margin-bottom: 0px;
}

.plan-price {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.plan ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

.plan li {
    margin-bottom: 10px;
}


.steps {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.step {
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 30px;
    flex: 1;
    text-align: center;
}

.work {
    text-align: center;
}

/* how does it work section */
.how-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px;
}

.step-one {
    display: flex;
}

.step {
    flex: 1;
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.icon {
    font-size: 3em;
    margin-bottom: 15px;
}

.step h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    font-size: 0.9em;
    line-height: 1.4;
}

.note {
    font-size: 0.8em;
    margin-top: 15px;
}

.step a {
    color: #8A2BE2;
    text-decoration: none;
}

/* faq section */
.faq {
    padding: 30px;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
}

.faq h1 {
    text-align: center;
}

.faq-item {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.faq-question {
    background-color: #111;
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.faq-question::after {
    content: '\25BC';
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease;
}

.faq-answer {
    background-color: #222;
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-item.active .faq-question::after {
    transform: rotate(180deg);
}

.faq-item.active .faq-answer {
    max-height: 200px;
    padding: 15px;
}

/* whatsapp footer */
.support {
    background-color: #111;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.support-text {
    display: flex;
    align-items: center;
}

.support-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.whatsapp-button-1 {
    background-color: #25D366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* whatsapp support floating icon */
.whatsapp-button {
    position: fixed;
    left: 70px;
    bottom: 20px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 9999;
    background-color: #25D366;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23FFF' d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z'/%3e%3c/svg%3e");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.whatsapp-button:before,
.whatsapp-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #25D366;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: border-animate 1.5s linear infinite;
    opacity: 0;
}

.whatsapp-button:after {
    animation-delay: .5s;
}

@keyframes border-animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


/* logo scrolling */
.wrapper {
    margin-top: 2rem;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    height: 100px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

@keyframes scrollRight {
    to {
        right: -200px;
    }
}

.itemLeft,
.itemRight {
    width: 200px;
    height: 100px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.itemLeft {
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
}

.itemRight {
    right: max(calc(200px * 8), calc(100% + 200px));
    animation-name: scrollRight;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

@keyframes border-animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


/* Media Queries */
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .features {
        flex-direction: column;
    }

    .pricing-plans {
        flex-direction: row;
    }

    .plan {
        max-width: 280px;
        margin: 10px auto;
    }

    .how-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .step {
        width: 100%;
        margin-bottom: 20px;
    }

    .support-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .support-icon {
        margin-bottom: 10px;
    }

    .how-container {
        display: flex;
        flex-direction: column;
    }

    .faq-question::after {
        right: 10px;
    }
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        gap: 20px; /* Ruimte tussen de features */
    }

    .pricing-plans {
        flex-direction: column;
        gap: 20px; /* Ruimte tussen de prijsplannen */
    }

    .plan {
        max-width: 100%;
        margin: 20px auto; /* Ruimte rond elk plan */
        padding: 20px; /* Extra ruimte binnen elk plan */
    }

    .step-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Ruimte tussen de stappen */
    }

    .step {
        width: 95%;
        padding: 15px; /* Extra ruimte binnen elke stap */
        margin-bottom: 20px; /* Ruimte onder elke stap */
    }

    .hero h1 {
        font-size: 30px;
        margin-bottom: 20px; /* Ruimte onder de hero titel */
    }

    .hero p {
        font-size: 12px;
        margin-bottom: 20px; /* Ruimte onder de hero tekst */
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }

    .hero p {
        font-size: 16px;
    }

    .support-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .devices img {
        width: 300px;
        height: auto;
    }

    .support-icon {
        margin-bottom: 10px;
    }

    .faq-question::after {
        right: 10px;
    }
}

@media screen and (max-width: 375px) {
    .hero h1 {
        font-size: 18px;
    }

    .hero p {
        font-size: 14px;
        margin: 10px 15px;
    }

    .free-trial-btn {
        font-size: 14px;
        padding: 8px 15px;
    }

    .devices img {
        width: 250px;
        height: auto;
    }

    .color-overlay {
        display: none;
    }

    .pricing {
        padding: 10px;
    }

    .pricing-plans {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        max-width: 320px;
        margin: 0 auto;
    }

    .plan {
        width: 100%;
        /* Volledige breedte binnen de container */
        padding: 15px;
        text-align: center;
        border-radius: 40px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .plan img {
        width: 100px;
        height: auto;
        margin-top: 10px;
    }

    .work {
        font-size: 20px;
        text-align: center;
        margin: 20px 0;
    }

    .how-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 15px;
        max-width: 290px;
        margin: 0 auto;
     }

    .step {
        width: 100%;
        text-align: center;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .step .icon {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .step h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .step p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .free-trial {
        font-size: 14px;
        padding: 8px 15px;
    }
}


@media (max-width: 320px) {
    body{
        margin: 0;
        padding: 0;
    }

    .All-In-One {
        font-size: 2px;
    }

    .devices
    {
        width: 100px;
        height: 100px;   
    }

    .how-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 10px;
        max-width: 250px;
        /* Beperk de breedte verder */
        margin: 0 auto;
        /* Centreer de container */
    }

    .step {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .step .icon {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .step h2 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .step p {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .free-trial {
        font-size: 12px;
        padding: 8px 10px;
    }

    .work {
        font-size: 18px;
        text-align: center;
        margin: 10px 0;
    }

    .pricing {
        padding: 5px;
    }

    .pricing-plans {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        max-width: 280px;
        /* Beperk de breedte verder */
        margin: 0 auto;
        /* Centreer de plannen */
    }

    .plan {
        width: 100%;
        padding: 10px;
        text-align: center;
        border-radius: 40px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .plan img {
        width: 80px;
        height: auto;
        margin-top: 10px;
    }
}